html, body {
	height: 100%;
	margin: 0;

	/* Theme */
	background: #65000c;
	color: white;
}

/* Topnav */
.topnav {
	text-align: center;
	background-color: black;
}
.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 5%;
}

li {
	float: right;
	display: inline;
	font-size: 14px;
	padding: 15px;
	font-family: Myriad Pro;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

li:hover {
	cursor: pointer; cursor: hand;
	background-color: #202020;	
}

#topnav-logo {
	font-family: Lithos Pro, Myriad Pro;
	font-size: 24px;
	text-align: left;
	margin-left: 5%;
	position: absolute;
	padding: 10px 0 10px 0;
}

/* Rows */
.heading-title {
	padding: 80px 0 80px 0;
	text-align: center;
}

.basic-row {
	padding: 0 15% 0 15%;
}

.dashboard-row {
	margin: 1% 15% 1% 15%;
	padding: 20px;
	background-color: white;
	overflow: hidden;
	color: black; /*#838383;*/
}

/* Cols */
.modal-box {
	width: 50%;
	margin: auto;
	background-color: white;
	padding: 5%;
	border-radius: 2px;
	overflow: hidden;
}

.col-12 {
	width: 100%;
}

.col-8 {
	float: left;
	width: 66.6%;
}

.col-6 {
	float: left;
	width: 50%;
}

.col-4 {
	float: left;
	width: 33.3%;
}

/* Text */
p, input {
	font-family: Myriad Pro;
	font-size: 18px;
	margin: 3px 0 3px 0;
}

.dashboard-row h2 {
	font-family: Myriad Pro;
	font-size: 28px;
	margin: 3px 0 3px 0;
	font-weight: bold;
}

.dashboard-row h3 {
	font-family: Myriad Pro;
	font-size: 16px;
	margin: 1px 0 1px 0;
	font-weight: bold;
}

#header-logo {
	font-family: Lithos Pro, Myriad Pro;
	font-size: 50px;
}

.heading-p {
	font-family: Myriad Pro;
	font-size: 50px;
	color: black; /*#838383;*/
	font-weight: bold;
	text-align: left;
}

#subheader {
	font-style: italic;
	font-size: 16px;
}

/* Table */
table {
	font-family: Myriad Pro;
	font-size: 18px;
	text-align: center;
}

.leaderboard {
	width: 100%;
}

th {
	padding: 5px 25px 5px 25px;
}

/* Other */
#dog {
	float: right;
	width: 200px;
	padding-right: 10%;
}

/* Inputs */ 
.form-wrapper {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-top: 50px;
}

#school-dropdown {
	color: white;
	font-family: Myriad Pro;
	font-size: 20px;
	padding: 7px;
	background-color: #ce6161;
	border: 0;
	border-radius: 5px;
	width: 254px;
}

#school-dropdown option {
	outline: 0;
	color: black;
	background-color: white;
}

#school-dropdown:focus {
	outline: 0;
	border: white;
}

.input-box {
	margin-top: 6px;
	padding: 7px;
	width: 70%;
	float: left;
	border: none;
	background-color: #d9d9d9;
}
/* Buttons */
.button {
	background-color: black;
	border-radius: 2px;
	text-align: center;
	padding: 7px;
	width: 240px;
	margin-top: 6px;
	border: none;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.dashboard-row .button {
	color: white;
}

.button p {
	margin: 0;
}

#play {
	float: right;
}

.spykit {
	float: left;
	padding: 7px;
	margin: 6px 0 6px 0;
}

.button.spykit {
	background-color: #989898;
}

#mission {
	color: white;
	float: left;
	width: 20%;
	margin-left: 1%;
}
.button:hover {
	cursor: pointer;
	cursor: hand;
	background-color: #202020;
}

/* Mobile-friendly */
@media only screen and (max-width: 640px) {
	body {
		padding: 40px;
	}
	.heading-title {
		text-align: center;
	}

	.basic-row {
		padding: 0;
	}
	.col-2 {
		float: none;
	}
	.form-wrapper {
		width: 100%;
	}
	#join {
		width: 100%;
	}
	#dog {
		display: none;
	}
}